@model Transaccion

@{
    ViewData["Title"] = "Transacciones";


}

<h1>Indice de transacciones</h1>
<h5>
    Indices de transacciones
</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>
