@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte Diario";


}


<partial name="_Submenu" model="SubMenuTransacciones.Diario" />

<div class="mb-3">
    <a class="btn btn-primary" asp-controller="transacciones" asp-action="Crear">Crear nueva transaccion </a>
</div>
<partial name="_ReporteTransaccionesDetalladas" model="Model" />


